header {
  border-bottom: 2px blue solid;
  display: flex;
  padding: 0 10px 20px;
}

#logo {
  display: flex;
  /*border: 2px red solid;*/
  width: 30%;
  align-items: center;
  justify-content: center;
  
}
#info {
  display: block;
  width: 70%;
  /*border: 2px green solid;*/
  align-items: center;
  justify-content: center;
  padding: 50px 50px 10px;
}

.imagen {
  width: 200px;
  height: 200px;
  border-radius: 110px;
  border: 5px solid #743ad5 ;
}
